@import url("reset.css");

@font-face {
  font-family: "isonorm";
  src: url("assets/typos/Isonorm\ 3098\ Regular.otf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "commissioner";
  src: url("assets/typos/Commissioner-VariableFont_FLAR\,VOLM\,slnt\,wght.ttf");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --white: #ffffff;
  --black: #000000;
  --primary: #d6f4e7;
  --secondary: #ffa680;
  --text-base: 20px;
  --text-md: 25px;
  --text-lg: 30px;
  --text-xl: 35px;
  --text-xxl: 45px;
  --text-h1: 200px;
  --text-h2: 100px;
  --text-h3: 50px;
  --container-sm: 680px;
  --container-md: 910px;
  --container-lg: 1140px;
  --container-xl: 1260px;
  --container-xxl: 1376px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1536px;

  @media screen and (max-width: 768px) {
    --text-h1: 100px;
  }

  @media screen and (max-width: 576px) {
    --text-h1: 80px;
  }
}

html,
body {
  font-family: "isonorm", sans-serif;
  font-size: var(--text-base);
  line-height: 1.5;
  scroll-behavior: smooth;
}

/* Classes utilitaires */
.container-sm {
  max-width: var(--container-sm);
  margin: auto;
  padding-inline: 1rem;
}

.container-md {
  max-width: var(--container-md);
  margin: auto;
  padding-inline: 1rem;
}

.container-lg {
  max-width: var(--container-lg);
  margin: auto;
  padding-inline: 1rem;
}

.container-xl {
  max-width: var(--container-xl);
  margin: auto;
  padding-inline: 1rem;
}

.container-xxl {
  max-width: var(--container-xxl);
  margin: auto;
  padding-inline: 1rem;
}

.text-md {
  font-size: var(--text-md);
}

.text-lg {
  font-size: var(--text-lg);
}

.text-xl {
  font-size: var(--text-xl);
}

.highlight-anim {
  position: relative;
  z-index: 10;
  width: fit-content;
}

.highlight-anim::after {
  content: "";
  display: block;
  height: 100%;
  width: calc(100% + 20px);
  position: absolute;
  top: 0;
  left: -10px;
  z-index: -10;
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform ease-out 500ms 50ms;
}

.highlight-anim:hover::after {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
}

.highlight-anim.bg-primary::after {
  background-color: var(--primary);
}

.highlight-anim.bg-secondary::after {
  background-color: var(--secondary);
}

.capitulo-portada {
  height: 1000px;
  width: 100%;
  background: var(--bg-img) no-repeat center center / cover;
  background-attachment: fixed;
  margin-bottom: 5rem;
  color: var(--white);

  @media (max-width: 768px) {
    height: 600px;
  }
}

.capitulo-portada h2 {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  padding: 2rem;
}

/* Golbal styles */
h1,
.h1 {
  font-size: var(--text-h1);
  line-height: var(--text-h1);
}

h2,
.h2 {
  font-size: var(--text-h2);
  line-height: var(--text-h1);

  @media (max-width: 768px) {
    font-size: var(--text-h3);
  }
}

h3,
.h3 {
  font-size: var(--text-h3);
  line-height: var(--text-h3);
  background-color: var(--primary);
  width: fit-content;
  padding-inline: 20px;
  text-align: right;
  margin-left: auto;
  margin-bottom: 5rem;
}

a {
  color: var(--black);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*  Header */
header {
  margin-bottom: 10rem;
}

header .header-hero {
  height: 90dvh;
  position: relative;
}

header .header-hero img {
  width: 100%;
  height: 90dvh;
  object-fit: cover;
  object-position: bottom center;
}

header .header-hero h1 {
  display: block;
  color: var(--white);
  width: 700px;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

header .neza {
  background-color: rgba(0, 0, 0, 75%);
  color: var(--white);
  font-family: "commissioner";
  font-weight: 200;
  max-width: 470px;
  padding: 2rem 0;
  margin: auto;
  transform: translateY(-210px);
  padding-inline: 1rem;

  @media screen and (max-width: 1536px) {
    transform: translateY(-160px);
  }
}

header .neza span {
  display: block;
  margin-bottom: 0.5rem;
  margin-inline: 3rem;
}

header .neza span:first-child {
  margin-bottom: 1.5rem;
}

header .header-bottom__wrapper {
  max-width: var(--container-xl);
  margin-left: auto;
  display: flex;
  gap: 130px;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

header .header-credits {
  margin-bottom: 56px;
}

header .header-summary {
  border: 1px solid var(--black);
  padding: 8px;
}
header .header-summary div {
  padding-left: 0.5rem;
}

header .header-summary div:last-of-type {
  margin-bottom: 2rem;
}

header .header-summary > ol {
  list-style: inside none;
  counter-reset: section;
}

header .header-summary > ol > li {
  counter-increment: section;
  position: relative;
}

header .header-summary > ol > li::before {
  content: counter(section, upper-roman) "/ ";
}

header .header-summary li ol {
  list-style: inside decimal;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

header .header-bottom__end {
  flex-basis: 55%;
}

header .header-prologue {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Introduccion */

#intro {
  margin-bottom: 10rem;
}

#intro img {
  width: 100%;
  margin-bottom: 10rem;
}

/* Capitulo 1 */
#capitulo_1 .capitulo-portada {
  --bg-img: url("assets/img/cap1_mictlan.jpg");
}

#capitulo_1 .capitulo-portada h2 {
  margin-left: auto;
  width: 50%;
  text-wrap: balance;

  @media (max-width: 1024px) {
    width: auto;
    margin-left: unset;
  }
}

#capitulo_1 .intro {
  margin-bottom: 5rem;
}

#capitulo_1 .intro p {
  margin-bottom: 5rem;
}
