@import url("reset.css");

@font-face {
  font-family: "isonorm";
  src: url("assets/typos/Isonorm\ 3098\ Regular.otf");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "commissioner";
  src: url("assets/typos/Commissioner-VariableFont_FLAR\,VOLM\,slnt\,wght.ttf");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  --white: #ffffff;
  --text-base: 20px;
  --text-lg: 30px;
  --text-xl: 35px;
  --text-xxl: 45px;
  --text-h1: 200px;
  --text-h2: 50px;

  @media screen and (max-width: 768px) {
    --text-h1: 100px;
  }

  @media screen and (max-width: 576px) {
    --text-h1: 80px;
  }
}

html,
body {
  font-family: "isonorm", sans-serif;
}

header .header-hero {
  height: 90dvh;
  position: relative;
}

header .header-hero img {
  width: 100%;
  height: 90dvh;
  object-fit: cover;
  object-position: bottom center;
}

header .header-hero h1 {
  display: block;
  color: var(--white);
  width: 700px;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: var(--text-h1);
}

header .neza {
  background-color: rgba(0, 0, 0, 75%);
  color: var(--white);
  font-family: "commissioner";
  font-size: var(--text-base);
  font-weight: 200;
  width: 470px;
  max-width: 100%;
  padding: 2rem 0;
  margin: auto;
  transform: translateY(-210px);

  @media screen and (max-width: 1536px) {
    transform: translateY(-160px);
  }
}

header .neza span {
  display: block;
  margin-bottom: 0.5rem;
  margin-inline: 3rem;
}

header .neza span:first-child {
  margin-bottom: 1.5rem;
}
