.text-base {
  font-size: var(--text-base);
}

.text-lg {
  font-size: var(--text-lg);
}

.text-xl {
  font-size: var(--text-xl);
}

.text-xxl {
  font-size: var(--text-xxl);
}

.text-h1 {
  font-size: var(--text-h1);
}

.text-h2 {
  font-size: var(--text-h2);
}
